body{
    margin: auto;
  
}


.cover img{
    border-radius: 25px;
    height: 230px;
    filter:brightness(70%);
    max-width: 1200px;
   
}
.desktop{
    
    display: block;
}


@media screen and (max-width: 768px){
    
    body{
        margin: 0 10px;
    }
    .container{
        margin: 20px 10px;
    }
    .cover img{
        height: 230px;
    }
    .Mobile{
        display: block;
    }
    
    .about-block{
        margin: 0 30px;
    }

  
}